{% extends 'base.html' %}
{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{author.name}}</h5>
      {%if user_author|length == 0%}
      <form method= 'POST' action="/authors/{{author.id}}"><button class="btn btn-primary">Add to Favorites</button></form>
      {%endif%}
      {%if user_author|length > 0 %}
      <form method= 'POST' action='/authors/{{author.id}}/delete'><button class="btn btn-danger">Remove from Favorites</button></form>
      {%endif%}
    </div>
  </div>


{% endblock %}
